body {
    background: #2b2b2b !important;
    color: #fffff1 !important;
}
.sect{
    color: #fffff1 !important;
}

a{
    color :  #fffff1 !important;
}

input, .gssb_m {#hdtb
    background-color: #141414 !important;
    color: #fffff1 !important;
}
.gbqfqw {
    background-color: #141414 !important;
    color: #fffff1 !important;   
}
.gsri_a, .gsst_e, .gb_p,  .gb_Ba, .gbqfba, .ab_button{
    -webkit-filter: invert(100%) !important;
}
.fbar, .gb_ib{
    background-color: #1e1e1e !important;
    border-top: 1px solid #1e1e1e !important;
    border-bottom: 1px solid #1e1e1e !important;
}
.gbqfif, .gbqfsf{
    color: #fffff1 !important;
}
.gssb_e{
    border: 1px solid #141414 !important;
}

tr.gssb_i{
    background: #252629 !important;
}

#appbar{
    background: #141414 !important;
}

#hdtb, #hdtbSum{
    background:transparent !important;
    border-color:transparent !important;
}

.hdtb-mn-o, .hdtb-mn-c,.ab_dropdown {
    -webkit-box-shadow: 0 2px 4px #141414 !important;
    background: #141414 !important;
    border: 1px solid #141414 !important;
    box-shadow: 0 2px 4px #141414 !important;
}

#hdtb_more_mn a:hover, .hdtbItm.hdtbSel:hover, .hdtbItm a:hover, #cdrlnk:hover, .ab_dropdownitem.selected {
    background: #252629 !important;
}

cite{
    color: #2c7cd5 !important;
}
.med._T{
    color: #fffff1 !important;
}
.st{
   color:  #999 !important;
}
