body {
    background: #2b2b2b !important;
}

a{
    color :  #fffff1 !important;
}

input {
    background-color: #141414 !important;
    color: #fffff1 !important;
}
.gbqfqw {
    background-color: #141414 !important;
    color: #fffff1 !important;   
}
.gsri_a, .gsst_e, .gb_p,  .gb_Ba{
    -webkit-filter: invert(100%) !important;
}
.fbar, .gb_ib{
    background-color: #1e1e1e !important;
    border-top: 1px solid #1e1e1e !important;
    border-bottom: 1px solid #1e1e1e !important;
}